body {
  text-align: center;
  font-size: 2rem;
}
.container {
  display: inline-block;
  background-color: pink;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.title {
  background-color: white;
  border-radius: 2px;
  padding: 5px 2px;
  margin-bottom: 15px;
}
.container input {
  font-size: 2rem;
  margin: 10px;
  border-radius: 5px;
}
.container button {
  font-size: 1.5rem;
  padding: 5px 10px;
  background-color: white;
}
.result {
  background-color: white;
  color: pink;
  border-radius: 5px;
  margin-top: 20px;
  align-items: center;
  width: 520px;
  height: 150px;
}
